{{ $baseurl := .Site.BaseURL }}
<!-- <div class="logo-image">
  <img src="{{ "image/logo-v1.svg" | relURL }}">
</div> -->
<h1 class="site-title">
  <span class="base05"><</span><span class="base08">C</span
  ><span class="base09">o</span><span class="base0a">d</span
  ><span class="base0b">e</span><span class="base0c">W</span
  ><span class="base0d">i</span><span class="base0e">t</span
  ><span class="base0f">h</span><span class="base05">C</span
  ><span class="base05">a</span><span class="base05">t😺</span><span class="base05">/></span>
  <!-- <span class="base05"># _</span> -->
</h1>
<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div class="site-description">
Mình tên là Thịnh Nguyễn - sinh ra ở Hà Nội, tốt nghiệp Bách Khoa và đang là một Developer tò mò về công nghệ. Vì cũng có tí khiếu về nghệ thuật, ý là vẽ vời design các thứ nên mình quyết định làm blog. Không chỉ để chia sẻ về công nghệ, nó sẽ ghi lại cả tuổi trẻ mình trưởng thành như thế nào 🧑‍💻 
</div>
